<!-- public/views/home.html -->

<div class="jumbotron text-center">
    <h1>Create a new Client</h1>

    <p>{{ tagline }}</p>
</div>
<form>
  <div class="form-group row">
    <label for="clientName" class="col-sm-2 form-control-label">Name</label>
    <div class="col-sm-10">
      <input type="name" class="form-control" id="clientName" placeholder="Name">
    </div>
  </div>
  <div class="form-group row">
    <label for="clientEmail" class="col-sm-2 form-control-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="clientEmail" placeholder="Email">
    </div>
  </div>
  <div class="form-group row">
    <label for="clientPhone" class="col-sm-2 form-control-label">Phone</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="clientPhone" placeholder="Phone">
    </div>
  </div>
  <div class="form-group row">
    <label for="clientOther" class="col-sm-2 form-control-label">Other</label>
    <div class="col-sm-10">
      <input type="text" rows="3" class="form-control" id="clientOther" placeholder="Other">
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-4 control-label" for="selecttenent">Is he/she not Homeless?</label>
    <div class="col-md-4">
      <div class="input-group">
  <span class="input-group-addon">
      <input type="checkbox">
  </span>
      <select id="selecttenent" name="selecttenent" class="form-control">
        <option value="1">123 main st</option>
        <option value="2">456 any street</option>
      </select>
    </div>
  </div>
</div>



  <div class="form-group row">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-secondary">Submit Client</button>
    </div>
  </div>
</form>
