
<div class="jumbotron text-center">
    <h1>Create a new Property</h1>

    <p>{{ tagline }}</p>
</div>
<form>
  <div class="form-group row">
    <label for="inputProp" class="col-sm-2 form-control-label">Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputProp" placeholder="Name of Property">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputAdd" class="col-sm-2 form-control-label">Address</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputAdd" placeholder="Address">
    </div>
  </div>
  <div class="form-group row">
    <label for="rent" class="col-sm-2 form-control-label">Rent</label>
    <div class="col-sm-10"><div class="input-group">
      <span class="input-group-addon">¢</span>
      <input type="number" min="0" step="1" class="form-control" id="inputRent" placeholder="Rent">
    </div></div>
  </div>
  <div class="form-group row">
    <label for="util" class="col-sm-2 form-control-label">Util</label>
    <div class="col-sm-10"><div class="input-group">
      <span class="input-group-addon">¢</span>
      <input type="number" min="0" step="1" class="form-control" id="inputUtil" placeholder="Util">
    </div></div>
  </div>
  <div class="form-group">
    <label class="col-md-1 control-label" for="selecttenent">
      Is it Occupied?
    </label>  <input id="selecttenent" ng-model="selecttenent" type="checkbox">
  </div>

  <div ng-show="selecttenent" class="form-group">
    <label class="col-md-4 control-label" for="selecttenent1">Who lives there?</label>
    <div class="col-md-4">
      <select id="selecttenent1" name="selecttenent1" class="form-control">
        <option value="1">Bill</option>
        <option value="2">Jack</option>
      </select>
    </div>
  </div>
</div>



  <div class="form-group row">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-secondary">Submit Property</button>
    </div>
  </div>
</form>
